.carta{
    width: 125px;
    height: 125px;
    background-color: #25BDC2;
}

.portada{
    width: 125px;
    height: 125px;
    background-color: #25BDC2;
}

.contenido{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEDB9D;
}

.ReactFlipCard{
    width: 100%;
    height: 100%;
}